* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Playpen Sans", cursive;
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
html ::-webkit-scrollbar-thumb {
  background: #aad302;
  border-radius: 10px;
}
html ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #141410;
  border-radius: 5px;
}

body {
  background-color: #141410;
}

.title {
  position: relative;
}
.title span {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  color: #aad302;
}
.title::before, .title::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #aad302;
  bottom: 10px;
}
.title::before {
  left: -5rem;
}
.title::after {
  right: -5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  max-width: calc(100% - 9rem);
  width: 70%;
  min-height: 65vh;
  background-color: #1d1d1d;
  padding: 3rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.contact_page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  margin: 6rem 0;
}
.contact_page .container {
  background-color: transparent;
}
.contact_page .container .contact_form {
  background-color: #1d1d1d;
  max-width: calc(100% - 10rem);
  width: 750px;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.contact_page .container .contact_form h1 {
  color: #ffffff;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.contact_page .container .contact_form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
.contact_page .container .contact_form form .error_msg {
  color: red;
}
.contact_page .container .contact_form form input,
.contact_page .container .contact_form form textArea {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: #2e2e2e;
  padding: 15px 0 15px 25px;
  border-radius: 5px;
  margin-top: 15px;
  color: #ffffff;
}
.contact_page .container .contact_form form input:focus,
.contact_page .container .contact_form form textArea:focus {
  border: 2px solid #aad302;
}
.contact_page .container .contact_form form input.inputError,
.contact_page .container .contact_form form textArea.inputError {
  border: 1px solid red;
}
.contact_page .container .contact_form form textArea {
  min-height: 150px;
}
.contact_page .container .contact_form form button {
  border: none;
  background-color: #aad302;
  padding: 10px 25px;
  text-transform: capitalize;
  cursor: pointer;
  width: 250px;
}
.contact_page .container .contact_form form button a {
  color: #1d1d1d;
  font-size: 1rem;
  font-weight: bold;
}
.contact_page .container .contact_info {
  padding: 3rem;
  background-color: #1d1d1d;
}
.contact_page .container .contact_info > h1 {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.contact_page .container .contact_info .links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}
.contact_page .container .contact_info .links .link {
  background-color: #2e2e2e;
  width: 290px;
  max-width: calc(100% - 4rem);
  height: 70px;
  border-radius: 5px;
  padding: 35px;
  position: relative;
}
.contact_page .container .contact_info .links .link h6 {
  color: #777;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.contact_page .container .contact_info .links .link > a {
  color: #ffffff;
  transition: 0.5s;
}
.contact_page .container .contact_info .links .link > a:hover {
  color: #aad302;
  padding-left: 1rem;
}
.contact_page .container .contact_info .links .link .social_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.contact_page .container .contact_info .links .link .social_links a {
  color: #777;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_page .container .contact_info .links .link .social_links a img {
  width: 50px;
}

@media (max-width: 768px) {
  .contact_page .container .contact_form {
    max-width: 300px;
  }
  .contact_page .container .contact_info .links .link {
    width: calc(100% - 4rem);
  }
}/*# sourceMappingURL=Contact.module.css.map */